<%= content_for :title, "#{@user.name}" %>

<div class="content_box">
<h2>&nbsp;<i class="icon-user icon-large"></i>&nbsp; Edit Your Profile</h2>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>

<div class="content_box">
  <h3>Account Settings</h3>
  <p>Change avatar</p>
  <div class="row-fluid"><%= gravatar_for @user %><br><%= link_to 'Change', 'http://gravatar.com/emails', :class => 'btn float_clear' %></div><br>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :label => "New password", :required => false %>
  <%= f.input :password_confirmation, :required => false, :label => "New password confirmation", :autocomplete => "off" %>
</div>

<div class="content_box">
  <h3>Profile Settings</h3>
  <%= f.input :firstname, :label => "First name" %>
  <%= f.input :lastname, :label => "Surname" %>
  <label>Country</label>
  <%= f.country_select :location, ["Australia"] %>
  <label>Time Zone</label>
  <%= f.time_zone_select :time_zone, /Australia/, :default => "Sydney" %>
  <%= f.input :school, :label => 'Education' %>
  <%= f.input :occupation %>
  <%= f.input :google_plus, :label => "Google+ Profile (url address)", :hint => "leave blank if you don't have one" %>
  <%= f.input :about %>
</div>
<div class="content_box">
  <h3>Confirm Changes</h3>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
<br>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
</div>

<div class="content_box">
<%= link_to "<i class='icon-arrow-left icon-small'></i> Back".html_safe, :back %>
</div>

<div class="content_box">
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel your account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
</div>